<mat-card-content>
    @if(formularioAluno){

    <form [formGroup]="formularioAluno" (ngSubmit)="salvarAluno()">
        <div class="container-form">
            <mat-form-field class="item-30">
                <input matInput placeholder="Nome do aluno" formControlName="nomeAluno" />

            </mat-form-field>
            <mat-form-field class="item-70">
                <input matInput placeholder="Número de telefone" formControlName="telefone" />
            </mat-form-field>

            <div class="container-mae">
                <mat-form-field class="item-70">
                    <input matInput placeholder="Nome da mãe" formControlName="nomeMae" />
                </mat-form-field>
                <mat-form-field class="item-30">
                    <input matInput placeholder="Idade do aluno" formControlName="idade" />
                </mat-form-field>
            </div>

            <mat-form-field class="item-70">
                <input matInput placeholder="CPF" formControlName="cpf" />
            </mat-form-field>

            <div class="container-mae">
                <mat-form-field class="item-70">
                    <input matInput placeholder="Endereço" formControlName="nomeRua" />
                </mat-form-field>
                <mat-form-field class="item-30">
                    <input matInput placeholder="Número da casa" formControlName="numeroCasa" />
                </mat-form-field>
            </div>
        </div>

        <button mat-raised-button color="primary" type="submit">
            Salvar
        </button>
    </form>
    }

    <mat-card-actions>
        <button type="button" mat-button color="primary" [routerLink]="['/alunos/']">Back</button>
    </mat-card-actions>
</mat-card-content>